@model Aplicatie_Salarizare.Models.Taxes


<div class="col-md-3">
    <p>
        <label name="tax">Tax</label>
        <input id="tax" name="tax" type="number" value="@Model.Tax" class="form-control" />
    </p>
</div>

<div class="col-md-3">
    <p>
        <label for="cas">CAS</label>
        <input id="cas" name="cas" type="number" value="@Model.CAS" class="form-control" />
    </p>
</div>

<div class="col-md-3">
    <p>
        <label for="cass">CASS</label>
        <input id="cass" name="cass" type="number" value="@Model.CASS" class="form-control" />
    </p>
</div>

<div class="col-md-3">
    <button onclick="changeTaxes()" class="btn btn-info btn-sm ml-2 mr-2" style="margin-top: 19px;">
        Modifica taxe
    </button>
</div>

<script>
    function changeTaxes() {
        var response = confirm("Are you sure?");
        var CAS = $("#cas").val();
        var CASS = $("#cass").val();
        var TAX = $("#tax").val();
        if (response == true) {
            $.ajax({
                type: "POST",
                url: "home/ChangeTaxes",
                data: { cas: CAS, cass: CASS, tax: TAX },
                success: function (content) {
                    $('#main-cntn').html(content);  // replace
                }
            });
        }
    }
</script>

<style>
    .btn {
        margin: 5px 0 5px 0;
    }
</style>

<!--
<article class="employee">
    <h3>
        Model.Lastname Model.Surname Model.Net_Salary
    </h3>
    <div class="details">
       Model.Position Model.Tax
    </div>
    <div class="content">
        Model.ToString()
    </div>
</article>
    -->
