@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<Aplicatie_Salarizare.Models.Employee>
@{
    ViewData["Title"] = "Home Page";
}

<!--@@using (Html.BeginForm("delete", "home"))
    {-->
<div id="main-cntn">
    <div class="text-center">
        <h2 class="display-4">Stergere Angajati</h2>
    </div>
    <div class="row" style="margin-left: 165px;">
        <div class="col-md-3">
            <p>
                <label name="surname">Prenume</label>
                <input id="surname" name="surname" type="text" value ="" class="form-control" placeholder="Introdu prenumele angajatului..." />
            </p>
        </div>

        <div class="col-md-3">
            <p>
                <label for="lastname">Nume</label>
                <input id="lastname" name="lastname" type="text" value ="" class="form-control" placeholder="Introdu numele angajatului..." />
            </p>
        </div>

        <div class="col-md-3">
            <div class="add-btn">
                <a class="button-search" href="@Url.Action("Delete", "Home")">Cautare angajat</a>
            </div>
        </div>
    </div>
    <br />

    <div class="employees">
        @if (Model != null)
        {
            <table id="content-table" style="margin-left: 50px;">
                <thead>
                    <tr>
                        <th>Prenume</th>
                        <th>Nume</th>
                        <th>Functie</th>
                        <th>Salariu de baza</th>
                        <th>Spor</th>
                        <th>Premii brute</th>
                        <th>Brut total</th>
                        <th>Brut Impozitabil</th>
                        <th>Retineri</th>
                        <th>Salariu Net</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var employee in Model)
                    {
                        @await Html.PartialAsync("_EmployeeDelete", employee)
                    }
                <tbody>
            </table>
        }
    </div>
</div>
<script>
    $('#main-cntn').on('click', '.add-btn a', function () {
        var lastname = $("#lastname").val();
        var surname = $("#surname").val();
        var url = $(this).attr('href');
        $('#main-cntn').load(url, { lastname: lastname, surname: surname });

        return false;
    })
</script>

<!--
<script>

    $(document).ready(function () {
        $("#deleteform").submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                data: $('#deleteform').serialize(),
                success: function (response) {
                    alert("success");
                },
                error: function (response) {
                    alert("error");
                }
            });
        });
    }

    $(document).ready(function () {
        f@oreach (var item in Model)
            {
                <text>
                    employees.Lastname = 'i@tem.Lastname';
                </text>
             }


        $("#searchBtn").click(function (e) {
            var employees = new Array();
            f@oreach (var item in Model)
            {
                <text>
                    employees.Lastname = '@@i@tem.Lastname';
                    employees.Surname = '@@i@tem.Lastname';
                    employees.Position = '@@i@tem.Lastname';
                    employees.Base_Salary = '@@it@em.Lastname';
                    employees.Increase = '@@item.Lastname';
                    employees.Gross_Prizes = '@@item.Lastname';
                    employees.Gross_Total = '@@item.Lastname';
                    employees.Taxable_Gross = '@@item.Lastname';
                    employees.Deductions = '@@item.Lastname';
                </text>
             }


        });
    });

    /*var lastname = $("#lastname").val();
    var surname = $("#surname").val();
    console.log(lastname, surname);

    //Create an input type dynamically.
    var element = document.createElement("input");

    //Create Labels
    var label = document.createElement("Lastname");
    label.innerHTML = "New Label";

    //Assign different attributes to the element.
    element.setAttribute("type", "text");
    element.setAttribute("value", surname);
    element.setAttribute("name", "Test Name");
    element.setAttribute("style", "width:200px");

    label.setAttribute("style", "font-weight:normal");

    // 'foobar' is the div id, where new fields are to be added
    var foo = document.getElementById("content-table");

    //Append the element in page (in span).
    foo.appendChild(label);
    foo.appendChild(element);*/
</script>



<div id="content-table">





<!--
u@sing (Html.BeginForm())
{
    <p>
        Surname: H@tml.TextBox("Surname") <br />
        Lastname: H@tml.TextBox("Lastname") <br />

        <input type="submit" id="SubmitButton" value="Filter" />
    </p>
}

<div id="employeeTable">
    if (Model != null)
    {
    foreach (var emp in Model)
    {
    await Html.PartialAsync("_employeeTable", emp)
    }
    }
</div>
-->
<!--


    /*
    $(document).ready(function () {
        var formData = form.serialize();
        $("#deleteform").submit(function (e) {
            var formData = form.serialize();
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: U@rl.Action("onSubmitEmployee", "Home"),
                data: formData,
                success: function (response) {
                    console.log(response);

                },
                error: function (response) {
                    alert("error")
                }
            });
        });
    });
    */
</script>







<!--
<script type="text/javascript">
    var _url = "/home/onSubmitEmployee"
    $("#deleteform").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            data: $('#deleteform').serialize(),
            success: function (response) {
                $('#employeeTable').load(_url);
                alert('success')
            },
            error: function (response) {
                alert("error")
            }
        });
    });
</script>

    u@sing (Html.BeginForm("onSubmitEmployee", "home", FormMethod.Post, new { id = "deleteform" }))
{
    <p>
        Surname: H@tml.TextBox("Surname") <br />
        Lastname: H@tml.TextBox("Lastname") <br />

        <input type="submit" id="SubmitButton" value="Filter" />
    </p>
}

    -->
<!--
using (Html.BeginForm())
{
    u@sing (Ajax.BeginForm("onSubmitEmployee", "home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "CreateAddress", InsertionMode = InsertionMode.Replace }))
    Html.AntiForgeryToken();
    <div class="row" style="margin-left: 50px;">
        <div class="col-md-3">
            <p>
                <label name="surname">Prenume</label>
                <input id="surname" name="surname" type="text" class="form-control" placeholder="Introdu prenumele angajatului..." />
            </p>
        </div>

        <div class="col-md-3">
            <p>
                <label for="lastname">Nume</label>
                <input id="lastname" name="lastname" type="text" class="form-control" placeholder="Introdu numele angajatului..." />
            </p>
        </div>

        <div class="col-md-3">
            <div class="add-btn">
                <button type="submit" id="SubmitButton">Cauta angajat</button>
            </div>
        </div>
    </div>
}

<div id="employeeTable">
    Html.Partial("_employeeTable", Model)
</div>
<!--
<section id="content-to-delete">
    if (Model != null)
    {
        <h3 style="margin-left: 50px">You should be able to see this message!</h3>

        <table id="content-table" style="margin-left: 50px;">
            <thead>
                <tr>
                    <th>Prenume</th>
                    <th>Nume</th>
                    <th>Functie</th>
                    <th>Salariu de baza</th>
                    <th>Spor</th>
                    <th>Premii brute</th>
                    <th>Brut total</th>
                    <th>Brut Impozitabil</th>
                    <th>Retineri</th>
                    <th>Salariu Net</th>
                </tr>
            </thead>
            <tbody>

                foreach (var emp in Model)
                {
                    <tr class="table-row">
                        <th>emp.Surname </th>
                        <th>emp.Lastname</th>
                        <th>emp.Position</th>
                        <th>emp.Base_Salary</th>
                        <th>emp.Increase</th>
                        <th>emp.Gross_Prizes</th>
                        <th>emp.Gross_Total</th>
                        <th>emp.Taxable_Gross</th>
                        <th>emp.Deductions</th>
                        <th>emp.Net_Salary</th>
                    </tr>
                }
            </tbody>

        </table>
        }
</section>

<script type="text/javascript">
    $("#main-content").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: 'delete',
            data: $('#deleteform').serialize(),
            success: function (response) {
                alert('success')
            },
            error: function (response) {
                alert("error")
            }
        });
    });
</script>
<!--<script>
    $(function () {
        $('#main-content').on('click', '#subtm', function () {

            var url = $(this).attr('href');
            console.log(url);
            $('#main-content').load(url);

            return false;
        })
    });

</script>-->

<style>
    .button-search {
        display: block;
        width: 200px;
        height: 38px;
        background: #4E9CAF;
        padding-top: 5px;
        text-align: center;
        margin-top: 15px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        line-height: 25px;
    }

    .text-center {
        margin-bottom: 50px;
        margin-right: 130px;
    }



    .col-md-3 {
        align-self: center;
    }

    #content-table {
        border: 1px solid;
    }

        #content-table th {
            min-width: 100px;
            text-align: center;
        }

        #content-table thead {
            border-bottom: 1px solid;
        }

    .table-row {
        padding-top: 25px;
    }
</style>
