@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Reports</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


TO DO

############   ADAUGARE   #################
- validare


############   STERGERE   #################
- casuta confirmare stergere
- cautare doar dupa nume


############   ACTUALIZARE  ##################
- cautare..
- pentru NUME, SALAR_BAZA, SPOR_%, PREMII BRUTE, RETINERI - actualizare doar pentru un angajat
-( trigger recalculare...)

############# RAPOARTE + FLUTURASI ########################
TBD

############## MODIFICARE TAXE  ###########################
- afisare tabela taxe
- securitate
- modificare taxe
- ( trigger recalculare...)